.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-text,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-icon {
  color: white !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link:not(.p-disabled):hover {
  background: transparent !important;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    background: #073c64 !important;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
    background: transparent !important;
  }
  .p-menubar .p-menubar-root-list:hover {
    background: #052c49 !important;
  }
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-text,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-icon {
  color: white !important;
}

.p-panel .p-panel-header .p-panel-title {
  color: white !important;
}
